<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a router="#">Home</a></li>
      <li><a routerLink="/addition">add</a></li>
      <li><a routerLink="/substraction">SUBTRACT</a></li>
      <li><a routerLink="/multiplication">mul</a></li>
      <li><a routerLink="/login">log</a></li>
      <li><a routerLink="/register">register</a></li>
      <li><a routerLink="/category">category</a></li>
      <li><a routerLink="/contactus"> contactus</a></li>
      <li> <a routerLink="/aboutus">aboutus</a></li>

    </ul>
  </div>
</nav>
